<form class="form edit-form">
  <div class="form-group">
    <h4 for="project-name">Title:</h4>
    <div>{{name}}</div>
  </div>
  <div class="form-group"></div>
  <h4 for="project-name">Content:</h4>
  <div>{{description}}</div>
  <p class="my-2 text-default">Created by {{user.name}} on {{format_date date_created}}</p>

  <p>

    <label for="">Comment</label>
    <textarea name="" id="" class="form-input"></textarea>
    <button type="submit" class="btn btn-primary">Submit</button>

    {{!-- <button data-id="{{id}}" class="btn btn-primary delete-btn">Delete Comment</button> --}}
  </p>

</form>
<script src="/js/comment.js"></script>