<div class="card">
  <div class="card-header display-flex justify-space-between">
    <h3 for="project-name" class="text-info">{{name}}</h3>
    <p class="my-2 text-info">Posted by {{user.name}} on {{format_date date_created}}</p>
  </div>
  <div class="card-body"></div>
  {{!-- <h4 for="project-name">Content:</h4> --}}
  <h6 class="p-3">{{description}}</h6>
</div>

{{!-- <div class="card">
  <div class="card-header text-primary">.</div>
  <div class="card-body">
 <p>Comment</p>
  <p>
    <textarea name="" id="" class="form-input w-100"></textarea>
    <button type="submit" class="btn btn-primary w-100">Submit</button>

    {{!-- <button data-id="{{id}}" class="btn btn-primary delete-btn">Delete Comment</button> --}}
  {{!-- </p>
  </div> --}}

  {{#if logged_in}}
  <div class="comment-form-container">
    <h3>Leave a Comment</h3>
    <form class="comment-form">
      <div class="form-group">
        <textarea id="comment-content" class="form-input" rows="3"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="login-btn">Submit</button>
      </div>
    </form>
  </div>
  {{/if}}

  <div class="comments-container">
    <h3>Comments</h3>
    {{#if comments.length}}
      {{#each comments}}
      <div class="comment">
        <div class="comment-meta">
          {{user.username}} on {{format_date createdAt}}
        </div>
        <div class="comment-content">
          {{content}}
        </div>
      </div>
      {{/each}}
    {{else}}
      <p>No comments yet.</p>
    {{/if}}

    {{#unless logged_in}}
    <div class="login-prompt">
      <p><a href="/login">Login</a> to leave a comment.</p>
    </div>
    {{/unless}}
  </div>
</div>

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}
{{!-- </div>
<script src="/js/comment.js"></script> --}}