{{#each projects as |project| }}

<div class="row mb-4 card">
  <div class="card-header w-100">
    <div class="display-flex justify-space-between text-default">
    <h2>
      <a href="/comment/{{project.id}}" class="no-button">{{project.name}}</a>
    </h2>

    <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
   </div>
  </div>
  <div class="card-body">
     <p>
      {{project.description}}
    </p>
  </div>
</div>
{{/each}}